.flex-container{
    display: flex; 
  }

  .flex-row {
     display: flex; 
     flex-direction: row;
     flex-flow: column wrap;
     justify-content: flex-start;
  }

  .flex-column {
    flex-direction: column;
    justify-content: flex-start;
    flex-flow: column wrap;
  }

  span{
    padding:4px;
  }

  .batch-table {
    width: 100%;
  }

  .mat-column-attribute {
    max-width: 20vw;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }

  .mat-column-values {
    max-width: 80vw;
    border-right: 1px solid currentColor;
    padding-left: 24px;
    padding-right: 24px;
    text-align: left;
    word-wrap: break-word;
  }