<h1 mat-dialog-title>Select Vehicle attributes file from VES containing parts needing X,Y,Z coordinates in Batch</h1>

<div class="flex-column" *ngFor = 'let part of uniqueValueList, index as i'>{{part.channel}}
  <div class="flex-row">
    <button *ngFor = 'let value of part.values, index as j' 
      class='button' [ngStyle]="{'background-color':part.isLoaded[j] === true ? 'green' : 'red' }" 
      mat-raised-button
      onclick= "document.getElementById('browser2').click();"
      (click) = "onclick(i, j);">{{part.values[j]}}
        <input type="file"
            id="browser2"
            style='display:none'
            accept=".csv"
            (change)="addCSVData($event)">
    </button>
  </div>
  
</div>

<div class="flex-row-end">
  <button mat-raised-button 
    color="primary"
    style="width: 5vw;"
    [disabled]="submitEnabled"
    (click) = "onSubmit();"
    >SUBMIT</button>
</div>
