<div style='margin: 2vh;' class='flex-row'>
    
    <button style='color:white;' class='button-class button-height' mat-raised-button color="primary"
        (click) = 'addButton();'>
        <mat-icon >add</mat-icon>
    </button>
    
    <div *ngFor = 'let file of fileList; let i = index' style='margin-left:2vw; margin-right:2vw;'>
        <input type="file"
            style='display:none'
            accept=".csv*"
            (change) ="fileChangeListener($event,i);" #fileUpload>
        <span>
            <button class='button-class' mat-raised-button color="primary"
                (click) = "fileUpload.click()">Select File
            </button>
        </span>
        <div class='button-class'>
            <span>  File Loaded: {{fileList[i].fileName}}</span>
        </div>
    </div>
</div>
<div>
    <div style='margin: 2vh; padding: 10px; border: 2px solid black; border-radius: 10px'>
        <plotly-plot [data]="graph.data" [layout]="graph.layout"
            [useResizeHandler]="true" [style]="{position: 'relative', width: '100%', height: '100%'}">
        </plotly-plot>
    </div>
</div>
